
.on-screen-text{
  color: white;
  opacity: .8;
  /*display: inline;*/
}

#screen-text-title{
  /*display: none;*/
  margin-top: 2%;
  font-size: 8vw;
  text-align: center;
  z-index: 4;
}

#screen-text-ul{
  /*display: none;*/
  color: white;
  margin-top: 17%;
  margin-left: 10%;
  /*list-style: square;*/
  font-size: 4vw;
  z-index: 4;
}

#tv-frame-container{
  position:relative;
  width:100%;
}
#tv-frame{
  /*position: absolute;*/
  width:100%;
  top:0; 
  left:0; 
  z-index: 1;
}

#static{
  position:absolute;
  /*display:none;*/
  top:0;
  z-index: -2;
  height: 90%;
  /*opacity:10;*/
}


.screen-content{
  position: absolute;
  display:none;
  top:8.55%;
  left:.3%;
  width: 68.55%;
  height: 77.4%;
  margin-left: 5.7%;
  z-index: 2;
  /*  border-radius: 15px;
  border-top-left-radius: 50% 3.5%;
  border-top-right-radius: 50% 3.5%;
  border-bottom-left-radius: 50% 3.5%;
  border-bottom-right-radius: 50% 3.5%;*/

  -webkit-mask-box-image: url(../images/screeneffect3.svg);
}

#loading-gif{
  display: none;
}

#panel-cover{
  position: absolute;
  z-index: 3;
  top:19.5%;
  right:1.7%;
  height:28.6%;
  /*display:none;*/
}


#red-light {
  position: absolute;
  top: 20.6%;
  height: 3.7%;
  right: 2.5%;
  display:none;
}

.dial-labels{
  position: absolute;
  z-index: 0 ;
  top:51.3%;
  left:81%;
  height:37.5%;
  color:lightgrey;
  pointer-events:none;
}

.dial-labels p{
  z-index: 0;
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  line-height: 0;
  margin-bottom: 4.3vw;
  padding-bottom:0;
  vertical-align: middle;
  font-size: 1.1vw;
}

#instructions{
  position: absolute;
  z-index: 0;
  top:26.3%;
  left:82%;
  height:19%;
  width: 14%;
  font-family: 'VT323';
  /*word-spacing: -2px;*/


  color: white;
  opacity:0.5;
/*   -webkit-text-fill-color: #77FFDA;
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: #00CF60;*/
}

#instruction-header{
  margin-bottom: .5vw;
  font-size: 1.5vw;
  font-weight: bold;
}

#instruction-content{
  font-size: 1.1vw;
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

}

#instruction-content p{
  margin-bottom: 1vw;
  line-height: 1.3vw;
}

